<!DOCTYPE html>
<html lang="en">
</html>
<head>
	<title>746: Statistical Consulting</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='css/base.css') }}">
	{% block header %}
	{% endblock %}
</head>
<ul class="sticky-top">
  <li><a href="/">Home</a></li>
  <li><a href="#about">About</a></li>
  <li><a href="#team">Team</a></li>
  <li><a href="#programs">Programs</a></li>
  <li><a href="#contact">Contact</a></li>
</ul>
<body>
	{% block content %}
	{% endblock %}
</body>
<footer>
	<div style="height: 100%; width: 100%;">
		<div style="padding: 75px 25px 25px;">
			<p style="margin:0px;">746@gmail.com</p>
			<p style="margin:0px;">The 746 Group © 2018</p>
		</div>
	</div>
</footer>